* {
  font-family: Helvetica sans-serif;
  font-weight: bold;
  font-size: 17pt;
}

.SliderPanel {
  width: 100%;
  min-height: 416px;
  background: white;
  overflow: hidden;
}

.PanelLabel {
  width: 100%;
  padding: 10px;
  height: 43px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.backButton {
    border-width: 0 8px 0 14px;
}
.goButton {
    border-width: 0 5px;
}

.button {
  font-size: 10pt;
  font-weight: normal;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
}

.articleContents * {
  font-size: 11pt;
  font-weight: normal;
}

.header {
  height: 44px;
  color: white;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
}

.last {
  padding-bottom: 14px !important;
}

.snippit {
  font-size: 11pt;
  font-weight: normal;
  padding-left: 4px;
}

img {
  max-width: 95%;
}

#loading {
  display: none;
}